
@{
    Layout = "_Layout";
}

<h1>This is the Error Page</h1>



<nav class="hide">
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</nav>

